<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="~/img/fevicon.png" type="image/x-icon">
    <title>Login</title>
    <link rel="stylesheet" href="~/css/base.css">
    <link rel="stylesheet" href="~/css/Customer/login_customer.css">
</head>
<body>
    <div class="container">
        <input type="checkbox" id="check">
        <div class="login form">
            <header>Đăng nhập</header>
            <form action="~/LoginCustomer/Login" method="post">
                <span class="details">Tài khoản</span>
                <input type="text" name="loginIdentifier" placeholder="Nhập số điện thoại/email" required>
                <span class="details">Mật khẩu</span>
                <input type="password" name="Password" placeholder="Nhập mật khẩu" required>
                <a href="">Quên mật khẩu</a>
                <div class="button">
                    <input type="submit" class="button" value="Đăng nhập">
                </div>
            </form>
            <div class="signup">
                <span class="signup">
                    Chưa có tài khoản?
                    <label for="check">Đăng ký</label>
                </span>
            </div>
            <div class="transfer_page">Nhân sự bấm <a href=@Url.Action("Index", "LoginAdmin")>vào đây</a> để đăng nhập</div>
        </div>
        <div class="registration form">
            <div class="container">
                <header>Đăng ký</header>
                <div class="content">
                    <form action="~/LoginCustomer/SignUp" method="post">
                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div class="error-message">
                                <ul>
                                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                                    {
                                        <li>@error.ErrorMessage</li>
                                    }
                                </ul>
                            </div>
                        }
                        <div class="user-details">
                            <div class="input-box">
                                <span class="details">Họ và tên</span>
                                <input type="text" name="Name" placeholder="Nhập họ tên" required>
                            </div>
                            <div class="input-box">
                                <span class="details">Tên người dùng</span>
                                <input type="text" name="Username" placeholder="Nhập tên người dùng" required>
                            </div>
                            <div class="input-box">
                                <span class="details">Email</span>
                                <input type="email" name="Email" placeholder="Nhập email" required>
                            </div>
                            <div class="input-box">
                                <span class="details">Số điện thoại</span>
                                <input type="text" name="PhoneNumber" placeholder="Nhập số điện thoại" required>
                            </div>
                            <div class="input-box">
                                <span class="details">Mật khẩu</span>
                                <input type="password" name="Password" placeholder="Nhập mật khẩu" required>
                            </div>
                            <div class="input-box">
                                <span class="details">Xác nhận mật khẩu</span>
                                <input type="password" name="Confirm_password" placeholder="Nhập lại mật khẩu" required>
                            </div>
                        </div>
                        <div class="button">
                            <input type="submit" class="button" value="Đăng ký">
                        </div>
                    </form>
                    <div class="signup">
                        <span class="signup">
                            Đã có tài khoản?
                            <label for="check">Đăng nhập</label>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
